.day-box {
    width: 100%;
    height: 98.5%;
    display: flex;
    flex-direction: column;
    z-index: 6;
}

.event-row {
    overflow: hidden;
    height: 20%;
    font-size: 12px;
    max-width: 100%;
    vertical-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.spacing {
    height: 5%;
}

.title-event {
    padding-top: 1px;
    font-size: 9px;
}

.delete-button {
    font-weight: 700;
    border: none;
    margin-right: 2px;
}

.event-time {
    margin-left: 2px;
    padding-top: 1px;
    font-size: 9px;
}

.grey {
    background-color: grey;
}

.event-buttons {
    right: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.event-buttons > button {
    width: 3px; 
    height: 13px;
    font-size: 10px; 
    margin-right: 5px;
    background: transparent;
    border: none;
    padding-bottom: 5px;
}

.fa-edit {
    margin-bottom: 8px;
}