.day-box {
    border: 1px solid black;
    height: 98.5%;
    display: flex;
    flex-direction: column;
    z-index: 6;
}

.event-row {
    border: 1px solid black;
    height: 10%;
    font-size: 12px;
    max-width: 100%;
    vertical-align: center;
    padding-bottom: 1px;
    display: flex;
    justify-content: space-between;
}

.day-number {
    position: fixed;
}

.spacing {
    height: 20%;
}

.title-event {
    margin-left: 10px;
}

.delete-button {
    font-weight: 700;
    border: none;
    margin-right: 2px;
}