.modal-container {
    position: fixed;
    background:rgba(255,255,255,0.8);
    height: 785px;
    width: 888px;
    margin: auto;
    display: flex;
    align-items: center;
    z-index: 2;
}

.modal-class {
    border: 1px solid black;
    background: white;
    width: 400px;
    margin: auto;
    height: 400px;
    position: relative;
}

.modal-header {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 26px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    margin-top: 10px;
}

.modal-input {
    display: flex;
    flex-direction: column;
    align-content: center; 
    justify-content: space-around;
}

.modal-buttons {
    margin: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}


.modal-button {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

#close:hover {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 1s;
    background: red;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

#submit:hover {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 1s;
    background: green;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

.modal-form-container {
    margin-top: 5px;
}

.modal-label {
    font-size: 15px;
    text-align: center;
}

.modal-entry {
    margin: auto;
    margin-top: 10px;
    width: 100px;
}

.modal-title {
    margin:auto;
}