.calendar-positioner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.calendar-container {
    border: 1px solid black;
    height: 860px;
    width: 893px;
}

.day-names {
    width: 890.5px;
    height: 29px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.days-of-week {
    height: 40px;
}

.week-day {
    font-size: 12px;
    border: 1px solid black;
    padding: 7px 0px 7px 0px;
}

.week-row {
    height: 127px;
    width: 123.2px;
    border: 1px solid black;
}

.grid-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: dense;
}

.calendar-title {
    padding: 10px 0px;
}